Django==4.2.11
gunicorn==22.0.0
whitenoise==6.7.0
dj-database-url==2.2.0
psycopg2-binary==2.9.9
kiteconnect==5.0.1
requests==2.32.3
pytz==2024.1
Pillow==10.4.0
redis==5.0.7
pandas
django-otp
qrcode
django-axes
django-redis
dhanhq
tenacity
numpy
ta
bleach
django-ratelimit
argon2-cffi
backtrader
dhanhq
django_cryptography